#user-auth-page {
    width: 300px; /* this is needed */
    height: 400px; /* this is needed */
    padding: 10px; /* this is for styling only */
    background: #ffffff; /* this is for styling only */
    border: solid;

    position: absolute; /* this is needed */
    margin: auto; /* this is needed */
    left: 0; /* this is needed */
    right: 0; /* this is needed */
    top: 0; /* this is needed */
    bottom: 0; /* this is needed */
}

#username-field {
    width: 250px;
    height: 30px
}

#password-field {
    width: 250px;
    height: 30px
}

#submit-button {
    width: 250px;
    height: 30px;
    color: white;
    background-color: rgb(40, 161, 201);
}

#login-table {
    border-spacing: 10px;
}